{extend name="public/base" /}

{block name="body"}
    <div class="main-title">
        <h2><?=$info?>商品扩展信息</h2>
    </div>
    <form action="" method="post" class="form-horizontal">
        <div class="form-item">
            <div class="controls">
               <?php
                  if ($info == '修改'){
                     echo '<input type="hidden" name="id" value="'.$id.'">';
                  }
               ?>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">Did<span class="check-tips"></span></label>
            <div class="controls">
                <select name="document_id" <?php if($info == '修改'){echo 'disabled';}?>>
                    <option value="">请选择内容对应的商品</option>
                    <?php foreach($documents as $item):
                    $document_id = isset($document_id)?$document_id:"";
                    $html = '';
                    if ($document_id == $item['id']){
                       $html = 'selected';
                    }
                    ?>
                    <option value="<?=$item['id']?>" <?=$html?> > <?=$item['title']?> </option>
                    <?php endforeach;?>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">电话<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="tel" value='<?=isset($tel)?$tel:""?>'>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">价格</label>
            <div class="controls">
                <input type="number" class="text input-large" name="price" value='<?=isset($price)?$price:""?>'>
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
{/block}

{block name="script"}
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:url('User/index')}');
    </script>
{/block}
