{extend name="public/base" /}

{block name="body"}
    <div class="main-title">
        <h2><?=$info?>政策</h2>
    </div>
    <form action="{:url()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips"></span></label>
            <div class="controls">
               <?php
                if ($info == '修改'){
                   echo '<input type="hidden" name="id" value="'.$id.'">';
                }
               ?>
                <input type="text" class="text input-large" name="title" value='<?=isset($name)?$name:""?>'>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">开始时间<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" placeholder="请选择开始时间" class="text input-large date" name="start_time" value='<?=isset($tel)?$tel:""?>'>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">结束时间</label>
            <div class="controls">
                <input type="text" placeholder="请选择结束时间" class="text input-large time" name="end_time" value='<?=isset($address)?$address:""?>'>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">政策详情<span class="check-tips"></span></label>
            <div class="controls">
                <label class="textarea" style="">
                    <textarea name="content" id="editor_id_content" style="">{:hook('adminArticleEdit', array('name'=>'content','value'=>''))}
                    </textarea>

                    <input type="hidden" name="parse" value="0">
                    <script type="text/javascript" charset="utf-8" src="/static/static/ueditor/ueditor.config.js"></script>
                    <script type="text/javascript" charset="utf-8" src="/static/static/ueditor/ueditor.all.js"></script>
                    <script type="text/javascript" charset="utf-8" src="/static/static/ueditor/lang/zh-cn/zh-cn.js"></script>
                    <script type="text/javascript">
                        $('textarea[name="content"]').attr('id', 'editor_id_content');
                        window.UEDITOR_HOME_URL = "/static/ueditor";
                        window.UEDITOR_CONFIG.initialFrameHeight = parseInt('500px');
                        window.UEDITOR_CONFIG.scaleEnabled = true;
                        window.UEDITOR_CONFIG.imageUrl = '/home/addons/editorforadmin/upload/ue_upimg.html';
                        window.UEDITOR_CONFIG.imagePath = '';
                        window.UEDITOR_CONFIG.imageFieldName = 'imgFile';
                        UE.getEditor('editor_id_content');
                    </script>
                </label>
            </div>
        </div>
        <div class="form-item">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
<link href="/static/static/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="/static/static/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/static/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/static/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
{/block}

{block name="script"}
    <script type="text/javascript">
        //导航高亮
        highlight_subnav('{:url('User/index')}');

        $(function(){
            $('.date').datetimepicker({
                format: 'yyyy-mm-dd',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language:"zh-CN",
                minView:2,
                autoclose:true
            });
            showTab();


        });

    </script>
{/block}
